@model WebApplication1.Models.Post

@{
    ViewData["Title"] = "Edit Post";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit Post</h1>
<hr />
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            height: 300
        });
    });
</script>

<div class="container">

    <div class="row">
        <div class="col-md-10">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PostId" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Title</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShortContents" class="control-label">Short Contents</label>
                    <input asp-for="ShortContents" class="form-control" />
                    <span asp-validation-for="ShortContents" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <label asp-for="Contents" class="control-label">Contents:</label>

                    <textarea id="summernote" asp-for="Contents" class="form-control" rows="5"></textarea>

                    <span asp-validation-for="Contents" class="text-danger"></span>

                    <html lang="en">

                    <head>

                        <meta charset="UTF-8">

                        <title>Summernote with Bootstrap 4</title>

                        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>

                        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

                        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

                        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
                        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

                    </head>

                    <body>

                        <div id="summernote"></div>

                        <script>

                            $('#summernote').summernote({

                                placeholder: 'Type your message',

                                tabsize: 2,

                                height: 300,
                            });

                        </script>

                    </body>

                </html>

                <script>

                    <style>

                        body {

                        display: flex;

                        align - items: center;

                        justify - content: center;

                        min - height: 100vh;

                        background - color: #0f7fc0;
                    }
                                                                                               .container {
                        width: 800px;

                    }
                    </style>

                </script>

            </div>
            <div class="form-group">
                <label asp-for="Thumb" class="control-label">Current Thumbnail</label>
                <div>
                    <img src="@Model.Thumb" alt="Thumbnail" style="width: 100px; height: auto;" />
                </div>
                <label asp-for="Thumb" class="control-label mt-2">Upload New Thumbnail</label>
                <input type="file" asp-for="Thumb" class="form-control-file" />
                <span asp-validation-for="Thumb" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Published" /> Published
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label">Tags</label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

</div>