@model WebApplication1.Models.Role

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">

    <div class="alert alert-danger" role="alert">
        <h3>Bạn chắc chắn muốn xóa quyền truy cập này?</h3>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Quyền truy cập</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">ID:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.RoleId)</dd>
                <dt class="col-sm-3">Tên quyền truy cập:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.RoleName)</dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="RoleId" />
                <button type="submit" class="btn btn-danger">Xóa</button>
                <a asp-action="Index" class="btn btn-secondary">Trở về</a>
            </form>
        </div>
    </div>
</div>
